@component('components/layout/dashboard', { title: 'Profile Page', pageDescription: 'Profile Page' })
  @slot('head')
    <meta name="description" content="Profile">
    @vite(['resources/js/utils/input_actions.js'])
  @endslot

  @slot('main')

    @!component('components/dashboard/breadcrumb', {
      items: [
        { label: 'Profile', iconName: 'person' },
      ]
    })

    <p class="mb-3 fs-4">Account Settings</p>

    <div class="row g-3">
      <!-- LEFT COLUMN STICKY TOP UNTIL RIGHT COLUMN END -->
      <div class="col-12 col-lg-2 position-relative">
        <div class="sticky-lg-top z-0 p-3 bg-body-tertiary rounded border cstm-top-80-lg cstm-maxh-100vh-100-lg cstm-overflowy-auto-lg">
          <div class="avatar-wrapper mx-auto">
            @let(variable = auth.user?.fullName)
            <div class="profile-box rounded-circle shadow-sm" cstmtag-profile-picture cstm-data-profile-picture-upload-endpoint="{{ route('account.profile.picture.update') }}" cstm-data-csrf-token="{{ csrfToken }}">
              <img src="{{ route('account.profile.picture.index', { userId: auth.user?.id }) }}" alt="User">
            </div>
          </div>
          <p class="text-center text-muted small mt-3 mb-0">Click the image to preview or edit</p>
        </div>
      </div>

      <!-- RIGHT COLUMN (MAIN CONTENT) -->
      <div class="col-12 col-lg-10 p-3 bg-body-tertiary rounded border">
        @if(flashMessages.has('profileFormAlertMessage'))
          <div class="col-12">
            @!component('components/alert', { 
              message: flashMessages.get('profileFormAlertMessage') 
            })
          </div>
        @end
        @if(isEditing)
          {{-- Include the Form version you created earlier --}}
          @include('components/form/profile/edit')
        @else
          {{-- Include the View Only version --}}
          @include('components/form/profile/show')
        @end
      </div>
    </div>
  @endslot
@end