<aside class="sidebar d-flex flex-column flex-shrink-0">
    <a href="{{ route('dashboard.index') }}" class="sidebar-brand">
        {{-- <i class="bi bi-bootstrap-fill sidebar-brand-icon"></i> --}}
        <img src="{{ asset('public/images/valve_source_engine_missing_content_512_512.png') }}" alt="Brand" class="sidebar-brand-img">
        <span class="sidebar-brand-text">{{ G_APP_SHORT_NAME }}</span>
    </a>

    <ul class="nav nav-pills flex-column px-2 py-2 mb-auto sidebar-nav">
        
        <li class="sidebar-header">
            <span class="sidebar-header-text">Main</span>
        </li>
        
        <li class="nav-item">
            <a href="{{ route('dashboard.index') }}" class="nav-link {{ currentUrl === route('dashboard.index') ? 'active' : '' }}" aria-current="page">
                <i class="bi bi-grid-1x2-fill"></i>
                <span class="nav-link-text">Dashboard</span>
            </a>
        </li>
        {{-- <li class="nav-item">
            <a href="{{ route('profile') }}" class="nav-link {{ currentUrl === route('profile') ? 'active' : '' }}">
                <i class="bi bi-person-circle"></i>
                <span class="nav-link-text">Profile</span>
            </a>
        </li> --}}

        <li class="sidebar-header">
            <span class="sidebar-header-text">Admin</span>
        </li>
        
        {{-- <li class="nav-item">
            <a href="{{ route('users.index') }}" class="nav-link {{ request.urlPath().startsWith(route('users.index')) ? 'active' : '' }}">
                <i class="bi bi-people-fill"></i>
                <span class="nav-link-text">Users</span>
            </a>
        </li> --}}
        
        {{-- <li class="nav-item">
            <a class="nav-link collapsed {{ request.urlPath().startsWith('/reports') ? 'active' : '' }}" data-bs-toggle="collapse" href="#reports-submenu" role="button" aria-expanded="false" aria-controls="reports-submenu">
                <i class="bi bi-bar-chart-fill"></i>
                <span class="nav-link-text">Reports</span>
            </a>
            <div class="collapse submenu {{ request.urlPath().startsWith('/reports') ? 'show' : '' }}" id="reports-submenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{{ route('reports.daily') }}" class="nav-link {{ currentUrl === route('reports.daily') ? 'active' : '' }}">
                            <span class="nav-link-text">Daily Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-text">Weekly Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-text">Analytics</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li> --}}

        <li class="nav-item">
            <a class="nav-link collapsed " data-bs-toggle="collapse" href="#reports-submenu" role="button" aria-expanded="false" aria-controls="reports-submenu">
                <i class="bi bi-bar-chart-fill"></i>
                <span class="nav-link-text">Reports</span>
            </a>
            <div class="collapse submenu " id="reports-submenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="nav-link-text">Daily Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-text">Weekly Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-text">Analytics</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
        {{-- <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="bi bi-gear-fill"></i>
                <span class="nav-link-text">Settings</span>
            </a>
        </li> --}}
    </ul>
    
    <div class="sidebar-footer p-3 border-top border-secondary-subtle">
    </div>
</aside>