<aside class="sidebar d-flex flex-column flex-shrink-0">
    <a href="#" class="sidebar-brand">
        {{-- <i class="bi bi-bootstrap-fill sidebar-brand-icon"></i> --}}
        <img src="/images/logo_diskominfos_denpasar_small.png" alt="{{ G_APP_SHORT_NAME }}" class="sidebar-brand-img">
        <span class="sidebar-brand-text">{{ G_APP_SHORT_NAME }}</span>
    </a>

    <ul class="nav nav-pills flex-column px-2 py-2 sidebar-nav">
        @let(mailCategorySubmenuExpand = request.url() === route('mails.index') || request.url() === route('mails.create'))
        <li class="nav-item mt-2">
            <a class="nav-link collapsed {{ mailCategorySubmenuExpand ? 'active' : '' }}" data-bs-toggle="collapse" href="#mailCategorySubmenu" role="button" aria-expanded="false" aria-controls="mailCategorySubmenu">
                <i class="bi bi-envelope-fill"></i>
                <span class="nav-link-text">Arsip Surat</span>
            </a>
            <div class="collapse submenu {{ mailCategorySubmenuExpand ? 'show' : '' }}" id="mailCategorySubmenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{{ route('mails.index') }}" class="nav-link {{ request.url() === route('mails.index') ? 'active' : '' }}">
                            <i class="bi bi-eye"></i>
                            <span class="nav-link-text">Lihat Semua</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ route('mails.create') }}" class="nav-link {{ request.url() === route('mails.create') ? 'active' : '' }}">
                            <i class="bi bi-envelope-plus"></i>
                            <span class="nav-link-text">Tambahkan</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        {{-- <li class="nav-item mt-2">
            <a href="{{ route('archive.index') }}" class="nav-link {{ request.url() === route('archive.index') ? 'active' : '' }}" aria-current="page">
                <i class="bi bi-archive-fill"></i>
                <span class="nav-link-text">Mail Archive</span>
            </a>
        </li> --}}
        
        {{-- @let(mailArchiveCategorySubmenuExpand = request.url() === route('mailArchives.index') || request.url() === route('mailArchives.create'))
        <li class="nav-item mt-2">
            <a class="nav-link collapsed {{ mailArchiveCategorySubmenuExpand ? 'active' : '' }}" data-bs-toggle="collapse" href="#mailArchiveCategorySubmenu" role="button" aria-expanded="false" aria-controls="mailArchiveCategorySubmenu">
                <i class="bi bi-archive-fill"></i>
                <span class="nav-link-text">Mail Archive</span>
            </a>
            <div class="collapse submenu {{ mailArchiveCategorySubmenuExpand ? 'show' : '' }}" id="mailArchiveCategorySubmenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{{ route('mailArchives.index') }}" class="nav-link {{ request.url() === route('mailArchives.index') ? 'active' : '' }}">
                            <i class="bi bi-eye"></i>
                            <span class="nav-link-text">View all</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ route('mailArchives.create') }}" class="nav-link {{ request.url() === route('mailArchives.create') ? 'active' : '' }}">
                            <i class="bi bi-envelope-plus"></i>
                            <span class="nav-link-text">Add new</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li> --}}

        @if(auth.user?.roleId === G_USER_ROLE.EMPLOYEE.ID || auth.user?.roleId === G_USER_ROLE.ADMIN.ID)
            <li class="nav-item mt-2">
                <a href="{{ route('users.index') }}" class="nav-link {{ request.url() === route('users.index') ? 'active' : '' }}" aria-current="page">
                    <i class="bi bi-people-fill"></i>
                    <span class="nav-link-text">Pengguna</span>
                </a>
            </li>
            @let(registerInviteLinkCategoryExpand = request.url() === route('registerInviteLinks.index') || request.url() === route('registerInviteLinks.create'))
            <li class="nav-item mt-2">
                <a class="nav-link collapsed {{ registerInviteLinkCategoryExpand ? 'active' : '' }}" data-bs-toggle="collapse" href="#registerInviteLinkCategory" role="button" aria-expanded="false" aria-controls="registerInviteLinkCategory">
                    <i class="bi bi-share-fill"></i>
                    <span class="nav-link-text">Link Invitasi</span>
                </a>
                <div class="collapse submenu {{ registerInviteLinkCategoryExpand ? 'show' : '' }}" id="registerInviteLinkCategory">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ route('registerInviteLinks.index') }}" class="nav-link {{ request.url() === route('registerInviteLinks.index') ? 'active' : '' }}">
                                <i class="bi bi-eye"></i>
                                <span class="nav-link-text">Lihat Semua</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ route('registerInviteLinks.create') }}" class="nav-link {{ request.url() === route('registerInviteLinks.create') ? 'active' : '' }}">
                                <i class="bi bi-plus-square"></i>
                                <span class="nav-link-text">Tambahkan</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        @end
        
        {{-- <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="bi bi-gear-fill"></i>
                <span class="nav-link-text">Settings</span>
            </a>
        </li> --}}
    </ul>

    <ul class="nav nav-pills flex-column px-2 py-2 mt-auto border-top border-secondary-subtle sidebar-nav">
      <!-- Footer nav at the bottom -->
      <li class="nav-item">
          <a href="{{ route('account.profile.index') }}" class="nav-link {{ request.url() === route('account.profile.index') ? 'active' : '' }}">
              <i class="bi bi-person-circle"></i>
              <span class="nav-link-text">Profil</span>
          </a>
      </li>

      <li class="nav-item mt-2">
          <a href="{{ route('auth.logout.store') }}" class="nav-link text-danger">
              <i class="bi bi-box-arrow-right"></i>
              <span class="nav-link-text">Logout</span>
          </a>
      </li>
    </ul>
</aside>