TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=APPKEYHERE
NODE_ENV=development
SESSION_DRIVER=cookie

ORGANIZATION_NAME="Organisasi"
ORGANIZATION_SHORT_NAME="Org"
APP_NAME="App Name Long"
APP_SHORT_NAME="App Name Short"
APP_YEAR_MADE="2025"

REGISTER_CODE_LENGTH=6
REGISTER_CODE_EXPIRY_TIME_MINUTE=20160

USER_ACCOUNT_PASSWORD_MIN_LENGTH=8