@layout.dashboard({ pageTitle: 'Register Invite Link Dashboard' })

  @slot('main')
    @!component('components/dashboard/breadcrumb', {
      items: [
        { label: 'Dashboard', iconName: 'grid-1x2'},
        { label: 'Register Invite Link', href: route('registerInviteLink.index'), iconName: 'share'},
      ]
    })
    <h4 class="fs-4">User Data</h4>

    {{-- Render Desktop Table --}}
    {{-- @!component('components/data_display/table_desktop', { columns, datas, style: 'mt-3' }) --}}

    {{-- Render Mobile List --}}
    {{-- @!component('components/data_display/mobile_list', { columns, datas, style: 'mt-3' }) --}}
    
  @endslot
@end