@component('components/layout/dashboard', { title: 'Mail Dashboard Page', pageDescription: 'Mail Dashboard Page' })
  @slot('head')
    <meta name="description" content="Profile">
    @vite(['resources/js/utils/input_actions.js'])
  @endslot

  @slot('main')

    @!component('components/dashboard/breadcrumb', {
      items: [
        { label: 'Data Arsip Surat', iconName: 'envelope' }
      ]
    })

    <h4 class="mt-3 fs-4">Data Arsip Surat</h4>

    {{-- Check if we have data AND if that data array is not empty --}}
    @if(mailTableDatas && mailTableDatas.datas.length > 0)
      {{-- 1. Render Desktop Table --}}
      @!component('components/data_display/table_desktop', { 
        columns: mailTableDatas.columns, 
        datas: mailTableDatas.datas, 
        style: 'mt-3' 
      })
      {{-- 2. Render Mobile List --}}
      @!component('components/data_display/mobile_list', { 
        columns: mailTableDatas.columns, 
        datas: mailTableDatas.datas, 
        style: 'mt-3' 
      })
      {{-- 3. Render Pagination --}}
      <div class="d-flex justify-content-center mt-4">
        @!component('components/pagination', { paginator: paginator })
      </div>
    @else
      {{-- 4. Empty State --}}
      <div class="alert alert-light text-center mt-3 p-5 shadow-sm" role="alert">
        @!component('components/bi_icon', { 
          style: 'text-muted fs-1',
          iconName: 'inbox',
          isFill: false,
        })
        <h4 class="mt-3 text-muted">Kosong ?</h4>
        <p class="text-secondary mb-0">Tidak ada data yang dapat ditampilkan untuk saat ini</p>
      </div>
    @end

  @endslot
@end