@layout({ title: 'Bad Request', pageDescription: 'Bad Request' })
  <h1 class="text-danger fw-bold">Bad Request (400)</h1>
  <p>The page you are trying to reach does not exists.</p>
  <p>{{ badUrl }}</p>
@end
