html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-verify-otp {
  max-width: 480px;
  padding: 1rem;
}

.form-verify-otp .form-floating:focus-within {
  z-index: 2;
}

.form-verify-otp .verify-otp {
  margin-bottom: 10px;
}