<nav class="px-3 navbar navbar-expand-lg sticky-top">
  <button class="btn btn-outline-secondary d-lg-none" type="button" id="mobile-sidebar-toggle">
    <i class="bi bi-list"></i>
  </button>
  <button class="btn btn-outline-secondary d-none d-lg-block" type="button" id="desktop-sidebar-toggle">
    <i class="bi bi-list"></i>
  </button>

  <div class="ms-auto d-flex align-items-center">
    <span class="d-none d-sm-inline me-3">
      {{ auth.user?.full_name }}
    </span>

    <div class="profile-pic-size-small profile-box rounded-circle shadow-sm" cstmtag-profile-picture>
      <img src="{{ route('account.profile.picture.index') }}" alt="User"class="w-100 h-100 rounded-circle object-fit-cover">
    </div>
  </div>
</nav>